<nav class="tab-bar">
  <section class="left-small">
    {{#if isAdmin}}
      {{#link-to "review_offer.logistics" model.offer classNames='back'}}{{t 'back'}}{{/link-to}}
    {{else}}
      {{#link-to "offer.transport_details" model.offer classNames='back'}}{{t 'back'}}{{/link-to}}
    {{/if}}
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">Cancel Booking</h1>
  </section>
</nav>

<section class="main-section cancel_offer">
  <div class="row info">
    <div class="small-12 columns">

      <div><i class="fa fa-exclamation-triangle"></i>  Unfortunately we cannot cancel a confirmed GoGoVan boking for you.</div>

      <div>Please cancel your GoGoVan booking:</div>

      <ul>
        {{#if driverContact}}
          <li>call the driver on {{driverContact}} or</li>
        {{/if}}
        <li>call GoGoVan on 3590 3399</li>
      </ul>

      <div>Once GoGoVan confirms the order is cancelled you will be able to proceed to cancel your booking.</div>

    </div>
  </div>
  <div class="row">
    <div class="small-5 columns">
      {{#if isAdmin}}
        {{#link-to "review_offer.logistics" model.offer classNames="button secondary expand"}}Go Back{{/link-to}}
      {{else}}
        {{#link-to "offer.transport_details" model.offer classNames="button secondary expand"}}Go Back{{/link-to}}
      {{/if}}
    </div>

    <div class="small-7 columns">
      <a href="#" {{action 'cancelBooking'}} {{bind-attr class=" :button :secondary :expand canCancel::disabled"}}>
        Cancel Booking
      </a>
    </div>
  </div>
</section>
