<div class="input_container">

    {{#if view.isTextArea}}
      {{textarea
        viewName="inputControl"
        value=view.value
        name=view.name
        placeholder=view.placeholder
        maxlength=view.maxlength
        rows=view.rows
        required=view.required
        }}

    {{else}}

      {{input
        viewName=inputControl
        name=view.name
        value=view.value
        placeholder=view.placeholder
        maxlength=view.maxlength
        required=view.required
        }}

    {{/if}}

  <span class="{{view.isMaxCharLengthReached}} char-count right">
    {{view.message}}
  </span>
  {{view.label}}
</div>
